<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="a real-time collaborative stock management system with offline support"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Solidyjs"}
    </.live_title>
    <%!-- -------------------%>
    <link rel="icon-192" href={~p"/images/icon-192.png"} />
    <link rel="icon-512" href={~p"/images/icon-512.png"} />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <%!-- -------------------%>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="module" src={~p"/assets/appV.js"}>
    </script>
  </head>
  <body class="bg-grey">
    {@inner_content}
  </body>
</html>
