# The directory Mix will write compiled artifacts to.
/_build/
/.elixir_ls/
/deps/

.vscode/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump
*.ez
# Also ignore archive artifacts (built via "mix archive.build").

# Ignore assets that are produced by build tools.
/priv/static/assets/
# Ignore digested assets cache.
/priv/static/sw.js*
/priv/static/airports.csv
/priv/static/.vite/

/priv/cert/

/test/

/assets/node_modules/
/assets/logo.png
/assets/.env

/zig-wasm/.zig-cache/
/zig-wasm/zig-out/

/db/
.env


