# The directory Mix will write compiled artifacts to.
/_build/
/.elixir_ls/
/deps/

.vscode/
.vite/

erl_crash.dump
*.ez

/priv/cert/
/priv/static/
/priv/phx-static-resources/

/test/

/assets/node_modules/
/assets/logo.png
/assets/.env

/zig-wasm/.zig-cache/
/zig-wasm/zig-out/

/db/
.env
/pgdata/
cre.txt
mcp-proxy
_old/

